{% extends 'base.html' %}

{% block content %}

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <i class="material-icons">bar_chart</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="sass.html">Sass</a>
                </li>
                <li>
                    <a href="badges.html">Components</a>
                </li>
                <li>
                    <a href="collapsible.html">JavaScript</a>
                </li>
            </ul>
        </div>
    </nav>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script>

        var endpoint = '/api/chart/data/';
        var data, labels;

        fetch(endpoint)
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                data = myJson.all;
                labels = new Array(data.length);
                for (i = 0; i < labels.length; i++) {
                    labels[i] = i + 1;
                }
                showChart(data, labels);
            });

        function showChart(data, labels){
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of commits',
                        data: data,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }    

    </script>

{% endblock content %}